header{
    background-color: var(--background-tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding: 38px 48px;

}
.logo{
    display: inline-block;
    width: 38px;
    height: 64px;
}
.navigation-menu{
    margin-top: 24px;
}
nav{
    display: none;
}